<!-- =========================================================================
◆【3章-1】画面遷移 (http://localhost:7777/shop_lesson/before)
============================================================================== -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
</head>
<body>
	<div>最初の画面</div>

	<!--
	href属性には、コンテキストパス以降のURLを記述する。
	@RequestMappingと異なり、コンテキストパスも含めるので注意。
	-->
	<a href="/shop_lesson/after">リンク</a>
</body>
</html>
<!-- ========================================================================= -->